/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* start of my CSS*/
html, body {
    height: 100%;
    width:100%;
    background-color: #d3d3d3;

}

.winnerAnnouncement {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px;
    font-size: 35px;
    margin-bottom: 150px
}
.mainGame {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
    
}
.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gameContainer div:first-of-type {
    margin-bottom: 35px;
    }

.gameBoard {
    width: 50%;
    position: relative;
}
.gameBoard:after {
    content: ""; 
    display: block; 
    padding-top: 100%;
}

.gameBoardBody {
    position: absolute; 
    width: 100%; 
    height: 100%;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    row-gap: 4px;

}
.gameBoardBody tr td {
    height: 100%;
    width: 100%;
    border: 1px black solid;
    
}

.gameBoardBody tr td:hover {
    border: 1px teal solid;
    background-color: #b6b6b6
}
.gameboardOneRows {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 4px;
}
.gameboardTwoRows {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 4px;
}


.gameboardTwoRows {
    display: flex;
}
